<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banned | LogShield</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="header">
        <img src="images/logo.png" alt="LogShield Logo" class="logo">
        <h2>LogShield</h2>
        <br>
    </div>
    <p>Your IP address <%= userIp %> has been temporarily banned for suspicious use.</p>
    <div class="container">
        <div class=